* { outline: 0; }

.mono label { font-family: monospace; }

headerbar {
  border-bottom: none;
  background: @theme_bg_color;
}

.side-box, .side-headerbar {
  background: @theme_base_color;
  border-right: 1px solid darker(@theme_base_color);
}

.side-box {
  padding: 12px;
}

window.preferences image:disabled { color: rgb(91,91,91); }
